<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.listaurant.txt.infra.TxtMapper">
    <insert id="saveTxt" parameterType="TxtEntity" useGeneratedKeys="true">
        insert into txt ( place_name, written_date, recommend, scope, member_id, text, lat, lng, nickname )
        values ( #{placeName}, #{writtenDate}, #{recommend}, #{scope}, #{memberId}, #{text}, #{lat}, #{lng}, #{nickname} )
    </insert>

    <select id="findMostPopularTxt" parameterType="TxtEntity" resultType="TxtEntity">
        select * from txt where place_name = #{placeName} and lat = #{lat} and lng = #{lng}
        order by recommend desc limit 1
    </select>

    <select id="findMostRecentTxt" parameterType="TxtEntity" resultType="TxtEntity">
        select * from txt where place_name = #{placeName} and lat = #{lat} and lng = #{lng}
        order by written_date desc limit 1
    </select>

    <select id="findAllRecentTxt" parameterType="TxtEntity" resultType="TxtEntity">
        select * from txt where place_name = #{placeName} and lat = #{lat} and lng = #{lng}
        order by written_date desc
    </select>

    <select id="findByMemberId" parameterType="long" resultType="TxtEntity">
        select * from txt where member_id = #{memberId}
    </select>

    <select id="getAvgScope" parameterType="TxtEntity" resultType="java.lang.Double">
        select avg(scope) from txt where place_name = #{placeName} and lat = #{lat} and lng = #{lng}
    </select>

    <update id="plusOneRecommend" parameterType="long">
        update txt set recommend = recommend + 1 where txt_id = #{txtId}
    </update>
</mapper>


